*.class
.idea/
target/
*.asml

src/main/java/org/panda/frontend/FrontendLexer.java
src/main/java/org/panda/frontend/FrontendParser.java
src/main/java/org/panda/frontend/sym.java
src/main/java/org/panda/backend/BackendLexer.java
src/main/java/org/panda/backend/BackendParser.java
src/main/java/org/panda/backend/sym.java

src/main/java/org/panda/frontend/FrontendLexer~.java
src/main/java/org/panda/frontend/FrontendParser~.java
src/main/java/org/panda/frontend/sym~.java
src/main/java/org/panda/backend/BackendLexer~.java
src/main/java/org/panda/backend/BackendParser~.java
src/main/java/org/panda/backend/sym~.java

tests/backend/assembly/*
tests/backend/executables/*
